@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
       width: 100% !important;
     }


:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
